# __07 Tibbles with tibble__

In [1]:
# libraries
library(tidyverse)

# config
repr_html.tbl_df <- function(obj, ..., rows = 6) repr:::repr_html.data.frame(obj, ..., rows = rows)
options(dplyr.summarise.inform = FALSE)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.1
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
?tibble

tibble                 package:tibble                  R Documentation

_B_u_i_l_d _a _d_a_t_a _f_r_a_m_e

_D_e_s_c_r_i_p_t_i_o_n:

     ‘tibble()’ constructs a data frame. It is used like
     ‘base::data.frame()’, but with a couple notable differences:

        • The returned data frame has the class ‘tbl_df’, in addition
          to ‘data.frame’. This allows so-called "tibbles" to exhibit
          some special behaviour, such as enhanced printing. Tibbles
          are fully described in ‘tbl_df’.

        • ‘tibble()’ is much lazier than ‘base::data.frame()’ in terms
          of transforming the user's input. Character vectors are not
          coerced to factor. List-columns are expressly anticipated and
          do not require special tricks. Column names are not modified.

        • ‘tibble()’ builds columns sequentially. When defining a
          column, you can refer to columns created earlier in the call.
          Only columns of length one are recycled.

        • If a column evaluates to a data frame or tibble, it is nested
          or spliced. See examples.

     ‘tibble_row()’ constructs a data frame that is guaranteed to
     occupy one row. Vector columns are required to have size one,
     non-vector columns are wrapped in a list.

_U_s_a_g_e:

     tibble(
       ...,
       .rows = NULL,
       .name_repair = c("check_unique", "unique", "universal", "minimal")
     )

     tibble_row(
       ...,
       .name_repair = c("check_unique", "unique", "universal", "minimal")
     )

_A_r_g_u_m_e_n_t_s:

     ...: <‘dynamic-dots’> A set of name-value pairs. These arguments
          are processed with ‘rlang::quos()’ and support unquote via
          ‘!!’ and unquote-splice via ‘!!!’. Use := to create columns
          that start with a dot.

          Arguments are evaluated sequentially. You can refer to
          previously created elements directly or using the .data
          pronoun. An existing ‘.data’ pronoun, provided e.g. inside
          ‘dplyr::mutate()’, is not available.

   .rows: The number of rows, useful to create a 0-column tibble or
          just as an additional check.

.name_repair: Treatment of problematic column names:

            • ‘"minimal"’: No name repair or checks, beyond basic
              existence,

            • ‘"unique"’: Make sure names are unique and not empty,

            • ‘"check_unique"’: (default value), no name repair, but
              check they are ‘unique’,

            • ‘"universal"’: Make the names ‘unique’ and syntactic

            • a function: apply custom name repair (e.g., ‘.name_repair
              = make.names’ for names in the style of base R).

            • A purrr-style anonymous function, see
              ‘rlang::as_function()’

          This argument is passed on as ‘repair’ to
          ‘vctrs::vec_as_names()’. See there for more details on these
          terms and the strategies used to enforce them.

_V_a_l_u_e:

     A tibble, which is a colloquial term for an object of class
     ‘tbl_df’. A ‘tbl_df’ object is also a data frame, i.e. it has
     class ‘data.frame’.

_S_e_e _A_l_s_o:

     Use ‘as_tibble()’ to turn an existing object into a tibble. Use
     ‘enframe()’ to convert a named vector into a tibble. Name repair
     is detailed in ‘vctrs::vec_as_names()’. See quasiquotation for
     more details on tidy dots semantics, i.e. exactly how the ‘...’
     argument is processed.

_E_x_a_m_p_l_e_s:

     # Unnamed arguments are named with their expression:
     a <- 1:5
     tibble(a, a * 2)

     # Scalars (vectors of length one) are recycled:
     tibble(a, b = a * 2, c = 1)

     # Columns are available in subsequent expressions:
     tibble(x = runif(10), y = x * 2)

     # tibble() never coerces its inputs,
     str(tibble(letters))
     str(tibble(x = list(diag(1), diag(2))))

     # or munges column names (unless requested),
     tibble(`a + b` = 1:5)

     # but it forces you to take charge of names, if they need repair:
     try(tibble(x = 1, x = 2))
     tibble(x = 1, x = 2, .name_repair = "unique")
     tibble(x = 1, x = 2, .name_repair = "minimal")

     ## By default, non-syntactic names are allowed,
     df <- tibble(`a 1` = 1, `a 2` = 2)
     ## because you can still index by name:
     df[["a 1"]]
     df$`a 1`
     with(df, `a 1`)

     ## Syntactic names are easier to work with, though, and you can request them:
     df <- tibble(`a 1` = 1, `a 2` = 2, .name_repair = "universal")
     df$a.1

     ## You can specify your own name repair function:
     tibble(x = 1, x = 2, .name_repair = make.unique)

     fix_names <- function(x) gsub("\\s+", "_", x)
     tibble(`year 1` = 1, `year 2` = 2, .name_repair = fix_names)

     ## purrr-style anonymous functions and constants
     ## are also supported
     tibble(x = 1, x = 2, .name_repair = ~ make.names(., unique = TRUE))

     tibble(x = 1, x = 2, .name_repair = ~ c("a", "b"))

     # Tibbles can contain columns that are tibbles or matrices
     # if the number of rows is compatible. Unnamed tibbled are
     # spliced, i.e. the inner columns are inserted into the
     # tibble under construction.
     tibble(
       a = 1:3,
       tibble(
         b = 4:6,
         c = 7:9
       ),
       d = tibble(
         e = tibble(
           f = b
         )
       )
     )
     tibble(
       a = 1:4,
       b = diag(4),
       c = cov(iris[1:4])
     )

     # data can not contain POSIXlt columns, or tibbles or matrices
     # with incompatible number of rows:
     try(tibble(y = strptime("2000/01/01", "%x")))
     try(tibble(a = 1:3, b = tibble(c = 4:7)))

     # Use := to create columns with names that start with a dot:
     tibble(.dotted = 3)
     tibble(.dotted := 3)

     # You can unquote an expression:
     x <- 3
     tibble(x = 1, y = x)
     tibble(x = 1, y = !!x)

     # You can splice-unquote a list of quosures and expressions:
     tibble(!!! list(x = rlang::quo(1:10), y = quote(x * 2)))


     # Use tibble_row() to construct a one-row tibble:
     tibble_row(a = 1, lm = lm(Petal.Width ~ Petal.Length + Species, data = iris))

In [3]:
as_tibble(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

You can create a new tibble from individual vectors with `tibble()` .
`tibble()` will automatically recycle inputs of length 1, and allows
you to refer to variables that you just created, as shown here:

In [4]:
tibble(
    x = 1:5,
    y = 1,
    z = x^2 + y
)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

If you’re already familiar with `data.frame()` , note that `tibble()`
does much less: it never changes the type of the inputs (e.g., it never
converts strings to factors!), it never changes the names of variables,
and it never creates row names.

It’s possible for a tibble to have column names that are not valid R
variable names, aka nonsyntactic names. For example, they might
not start with a letter, or they might contain unusual characters like
a space. To refer to these variables, you need to surround them with
backticks, ` :

In [5]:
tb <- tibble(
    `:)` = 'smile',
    ` ` = 'space',
    `2000` = 'number'
)

(tb)

  :)          2000
1 smile space number

You’ll also need the backticks when working with these variables in
other packages, like ggplot2, dplyr, and tidyr.

Another way to create a tibble is with `tribble()` , short for trans‐
posed tibble. `tribble()` is customized for data entry in code: column
headings are defined by formulas (i.e., they start with ~ ), and entries
are separated by commas. This makes it possible to lay out small
amounts of data in easy-to-read form:

In [7]:
tribble(
    ~x, ~y, ~z,
    #--|---|---
    'a', 2, 3.6,
    'b', 1, 6.5
)

  x y z
1 a 2 3.6
2 b 1 6.5

## __Tibbles Versus data.frame__

### Printing

Tibbles have a refined print method that shows only the first 10
rows, and all the columns that fit on screen. This makes it much eas‐
ier to work with large data. In addition to its name, each column
reports its type, a nice feature borrowed from `str()` :

In [8]:
tibble(a = lubridate::now() + runif(1e3) * 86400,
       b = lubridate::today() + runif(1e3) * 30,
       c = 1:1e3,
       d = runif(1e3),
       e = sample(letters, 1e3, replace = TRUE))

     a                   b          c    d           e
1    2020-09-02 12:01:59 2020-09-14  1   0.6465581   e
2    2020-09-01 13:24:35 2020-09-16  2   0.5990876   u
3    2020-09-02 02:56:50 2020-09-17  3   0.5714991   c
4    2020-09-01 19:38:09 2020-09-19  4   0.2612835   m
5    2020-09-02 07:18:30 2020-09-16  5   0.4012278   q
6    2020-09-01 16:56:30 2020-09-22  6   0.1859121   m
7    2020-09-02 06:24:20 2020-09-05  7   0.2529400   q
8    2020-09-02 11:04:52 2020-09-13  8   0.9609047   d
9    2020-09-01 18:37:45 2020-09-20  9   0.2752949   e
10   2020-09-01 23:13:32 2020-09-01 10   0.8929848   g
11   2020-09-01 17:59:29 2020-09-28 11   0.7859121   l
12   2020-09-01 23:28:09 2020-09-28 12   0.8490176   n
13   2020-09-01 19:35:46 2020-09-06 13   0.9851376   a
14   2020-09-02 00:51:16 2020-09-11 14   0.9270703   b
15   2020-09-02 08:52:41 2020-09-02 15   0.5170546   a
16   2020-09-02 03:27:56 2020-09-11 16   0.9942344   q
17   2020-09-01 16:20:47 2020-09-18 17   0.2889104   b
18   2020-09-01 13:29:21 2020-09-17 18   0.4746500   b
19   2020-09-02 02:17:28 2020-09-28 19   0.9609726   a
20   2020-09-02 00:54:06 2020-09-27 20   0.5665940   s
21   2020-09-01 14:31:51 2020-09-10 21   0.5410240   f
22   2020-09-02 11:18:34 2020-09-17 22   0.6415615   i
23   2020-09-01 16:58:30 2020-09-02 23   0.7240793   n
24   2020-09-02 07:34:56 2020-09-11 24   0.7444210   y
25   2020-09-02 02:50:26 2020-09-04 25   0.2843547   u
26   2020-09-02 09:08:39 2020-09-30 26   0.5408946   v
27   2020-09-02 03:21:31 2020-09-16 27   0.1440338   t
28   2020-09-02 03:01:23 2020-09-01 28   0.6425981   p
29   2020-09-01 15:35:03 2020-09-07 29   0.1887753   u
30   2020-09-02 09:31:32 2020-09-06 30   0.0882052   a
⋮    ⋮                   ⋮          ⋮    ⋮           ⋮
971  2020-09-02 11:15:32 2020-09-18  971 0.826005653 n
972  2020-09-02 03:30:42 2020-09-09  972 0.468643087 b
973  2020-09-02 02:30:42 2020-09-04  973 0.866231055 y
974  2020-09-02 10:51:00 2020-09-05  974 0.430325849 t
975  2020-09-01 21:47:16 2020-09-16  975 0.613256898 x
976  2020-09-02 00:09:51 2020-09-06  976 0.883137557 o
977  2020-09-02 05:16:52 2020-09-24  977 0.008799615 s
978  2020-09-01 20:32:00 2020-09-03  978 0.704240295 v
979  2020-09-01 15:30:12 2020-09-12  979 0.467000589 f
980  2020-09-02 05:12:49 2020-09-05  980 0.467697045 e
981  2020-09-01 12:52:37 2020-09-11  981 0.117696772 d
982  2020-09-01 15:09:57 2020-09-30  982 0.496726143 b
983  2020-09-02 09:30:03 2020-09-13  983 0.747632319 u
984  2020-09-01 18:16:38 2020-09-14  984 0.768134201 k
985  2020-09-02 06:10:04 2020-09-09  985 0.429227412 q
986  2020-09-01 13:15:54 2020-09-25  986 0.481859145 b
987  2020-09-01 20:43:58 2020-09-10  987 0.445168286 t
988  2020-09-02 10:24:50 2020-09-18  988 0.583468360 z
989  2020-09-02 10:09:58 2020-09-21  989 0.274707369 x
990  2020-09-02 04:30:58 2020-09-19  990 0.216914497 w
991  2020-09-02 03:00:20 2020-09-10  991 0.155648207 x
992  2020-09-02 09:28:24 2020-09-13  992 0.226449803 u
993  2020-09-01 16:34:54 2020-09-14  993 0.831336913 q
994  2020-09-01 17:29:59 2020-09-20  994 0.938168504 n
995  2020-09-01 23:49:20 2020-09-20  995 0.004327280 u
996  2020-09-02 10:03:35 2020-09-02  996 0.501014716 h
997  2020-09-02 04:16:49 2020-09-15  997 0.581489574 z
998  2020-09-02 09:36:01 2020-09-16  998 0.787735507 i
999  2020-09-01 17:15:00 2020-09-01  999 0.317496280 n
1000 2020-09-01 21:04:24 2020-09-12 1000 0.183920144 f

You can also control the default print behavior by setting options:
* options(tibble.print_max = n, tibble.print_min = m) :
if more than m rows, print only n rows. Use
options(dplyr.print_min = Inf) to always show all rows.
* Use options(tibble.width = Inf) to always print all col‐
umns, regardless of the width of the screen.

### __Subsetting__

So far all the tools you’ve learned have worked with complete data
frames. If you want to pull out a single variable, you need some new
tools, `$` and `[[` . `[[` can extract by name or position; `$` only extracts
by name but is a little less typing:

In [9]:
df <- tibble(
    x = runif(5),
    y = runif(5)
)

In [11]:
# extract by name
df$x

[1] 0.009885913 0.565716200 0.115512443 0.034893999 0.596693856

In [12]:
# extract by name
df[["x"]]

[1] 0.009885913 0.565716200 0.115512443 0.034893999 0.596693856

In [13]:
# extarct by position
df[[1]]

[1] 0.009885913 0.565716200 0.115512443 0.034893999 0.596693856

To use these in a pipe, you’ll need to use the special placeholder . :

In [14]:
df %>%
    .$x

[1] 0.009885913 0.565716200 0.115512443 0.034893999 0.596693856

In [15]:
df %>%
    .[["x"]]

[1] 0.009885913 0.565716200 0.115512443 0.034893999 0.596693856

Some older functions don’t work with tibbles. If you encounter one
of these functions, use `as.data.frame()` to turn a tibble back to a
`data.frame` :

In [16]:
class(as.data.frame(tb))

[1] "data.frame"

The main reason that some older functions don’t work with tibbles
is the `[` function. We don’t use `[` much in this book because
`dplyr::filter()` and `dplyr::select()` allow you to solve the same
problems with clearer code.
              
With base R data frames, `[` sometimes
returns a data frame, and sometimes returns a vector. With tibbles,
`[` always returns another tibble.

In [18]:
# How can you tell if an object is a tibble? (Hint: try printing
# mtcars , which is a regular data frame.)
(class(mtcars))
(class(diamonds))

[1] "data.frame"

[1] "tbl_df"     "tbl"        "data.frame"

In [19]:
# What does tibble::enframe() do? When might you use it?
?enframe

enframe                 package:tibble                 R Documentation

_C_o_n_v_e_r_t_i_n_g _v_e_c_t_o_r_s _t_o _d_a_t_a _f_r_a_m_e_s, _a_n_d _v_i_c_e _v_e_r_s_a

_D_e_s_c_r_i_p_t_i_o_n:

     *Maturing*

     ‘enframe()’ converts named atomic vectors or lists to one- or
     two-column data frames. For a list, the result will be a nested
     tibble with a column of type ‘list’. For unnamed vectors, the
     natural sequence is used as name column.

     ‘deframe()’ converts two-column data frames to a named vector or
     list, using the first column as name and the second column as
     value. If the input has only one column, an unnamed vector is
     returned.

_U_s_a_g_e:

     enframe(x, name = "name", value = "value")

     deframe(x)

_A_r_g_u_m_e_n_t_s:

       x: An atomic vector (for ‘enframe()’) or a data frame with one
          or two columns (for ‘deframe()’).

name, value: Names of the columns that store the names and values. If
          ‘name’ is ‘NULL’, a one-column tibble is returned; ‘value’
          cannot be ‘NULL’.

_V_a_l_u_e:

     A tibble with two columns (if ‘name’ is not ‘NULL’, the default)
     or one column (otherwise).

_E_x_a_m_p_l_e_s:

     enframe(1:3)
     enframe(c(a = 5, b = 7))
     enframe(list(one = 1, two = 2:3, three = 4:6))
     deframe(enframe(3:1))
     deframe(tibble(a = 1:3))
     deframe(tibble(a = as.list(1:3)))